<a href="https://colab.research.google.com/github/romerofernandes/Car_consumption/blob/main/Car_consumption.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importações

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import glob
import matplotlib.pyplot as plt

In [32]:
pd.set_option('display.max_rows', None)

In [2]:
all_csv_files = glob.glob("/content/*.csv")
all_csv_files

['/content/bmw.csv',
 '/content/unclean cclass.csv',
 '/content/vauxhall.csv',
 '/content/merc.csv',
 '/content/vw.csv',
 '/content/hyundi.csv',
 '/content/ford.csv',
 '/content/audi.csv',
 '/content/cclass.csv',
 '/content/toyota.csv',
 '/content/focus.csv',
 '/content/skoda.csv',
 '/content/unclean focus.csv']

In [10]:
df_car = pd.concat(map(pd.read_csv, all_csv_files), axis=0, ignore_index=True)

In [11]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118150 entries, 0 to 118149
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   model         117995 non-null  object
 1   year          117903 non-null  float64
 2   price         117995 non-null  object
 3   transmission  117995 non-null  object
 4   mileage       117077 non-null  object
 5   fuelType      108540 non-null  object
 6   tax           94327 non-null   float64
 7   mpg           99187 non-null   float64
 8   engineSize    108540 non-null  float64
 9   fuel type     3517 non-null    object
 10  engine size   9345 non-null    object
 11  mileage2      9399 non-null    object
 12  fuel type2    8537 non-null    object
 13  engine size2  8537 non-null    object
 14  reference     9455 non-null    object
 15  tax(£)        4860 non-null    float64
dtypes: float64(5), object(11)
memory usage: 14.4+ MB

In [17]:
df_car.dropna(subset=['mpg'], how='any', inplace=True)

In [24]:
df_car.dropna(axis='columns', inplace=True)

In [25]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99187 entries, 0 to 112545
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         99187 non-null  object
 1   year          99187 non-null  float64
 2   price         99187 non-null  object
 3   transmission  99187 non-null  object
 4   mileage       99187 non-null  object
 5   fuelType      99187 non-null  object
 6   mpg           99187 non-null  float64
 7   engineSize    99187 non-null  float64
dtypes: float64(3), object(5)
memory usage: 8.8+ MB

In [36]:
a = df_car.model.value_counts().reset_index()

In [39]:
df_car.mpg.describe()

count    99187.000000
mean        55.166825
std         16.138522
min          0.300000
25%         47.100000
50%         54.300000
75%         62.800000
max        470.800000
Name: mpg, dtype: float64

In [38]:
a

                      index  model
0                    Fiesta   6557
1                      Golf   4863
2                     Focus   4588
3                   C Class   3747
4                     Corsa   3441
5                      Polo   3287
6                     Astra   2805
7                   A Class   2561
8                  3 Series   2443
9                      Kuga   2225
10                  Mokka X   2127
11                    Yaris   2122
12                 1 Series   1969
13                     Aygo   1961
14                  E Class   1953
15                       A3   1929
16                   Tiguan   1765
17                    Fabia   1571
18                  Octavia   1477
19                       Q3   1417
20                       A4   1381
21                       A1   1347
22                   Tucson   1300
23                 2 Series   1229
24                 EcoSport   1143
25                      I10   1092
26                 5 Series   1056
27                 Insignia   1030
28                 4 Series    995
29                GLC Class    960
30                   Passat    915
31                       Up    884
32                       A5    882
33                       Q5    877
34                GLA Class    847
35                       Q2    822
36                    Mokka    815
37                       X1    804
38                   Superb    791
39                       A6    748
40                    T-Roc    733
41                    Auris    712
42              Crossland X    683
43                   Zafira    599
44                  B Class    591
45              Grandland X    568
46                       X3    551
47                    C-MAX    543
48                      I30    536
49                      Ka+    531
50                   Mondeo    526
51                 CL Class    511
52                      I20    496
53                     C-HR    479
54                     RAV4    473
55                   Kodiaq    472
56                   Citigo    470
57                       X5    468
58                     Adam    463
59                GLE Class    461
60             Yeti Outdoor    458
61                     Viva    448
62                       Q7    397
63                    Karoq    390
64                  Touareg    363
65                    B-MAX    355
66                   Touran    352
67                       TT    336
68                     Kona    328
69                  T-Cross    300
70                    S-MAX    296
71                       X2    288
72                    Ioniq    284
73                  Golf SV    268
74                  Corolla    267
75                   Sharan    260
76                 SL CLASS    260
77                   Meriva    251
78                   Arteon    248
79              Grand C-MAX    247
80                 Santa Fe    245
81                 Scirocco    242
82                CLS Class    237
83                    Prius    232
84                   Galaxy    228
85                     Edge    208
86                  V Class    207
87                     IX20    204
88                       KA    199
89                  S Class    197
90                    Scala    192
91                       X4    179
92               Combo Life    156
93                    Rapid    152
94                    Kamiq    141
95                     Yeti    136
96                      I40    127
97                       M4    125
98                       A7    122
99                 GL Class    121
100                      A8    118
101                    IX35    118
102                    I800    117
103                 Avensis    115
104                   Verso    114
105                  Amarok    111
106                      Z4    108
107                6 Series    108
108                7 Series    106
109                      X6    106
110               Caravelle    101
111                     GTC    101
112                     SLK     95
113                      CC     95
114         Tiguan Allspace     91
115                   Hilux     86
116               CLA Class     86
117                  Beetle     83
118                 X-CLASS     82
119                    Puma     80
120                 M Class     79
121               GLS Class     74
122                    GT86     73
123                      Q8     69
124          Tourneo Custom     69
125                 Shuttle     61
126         Caddy Maxi Life     59
127   Grand Tourneo Connect     59
128           Zafira Tourer     58
129                 Mustang     57
130                      X7     55
131            Land Cruiser     51
132                      i3     43
133                     RS6     39
134                8 Series     39
135         Tourneo Connect     33
136                     RS3     33
137                   Jetta     32
138                     RS4     31
139                     RS5     29
140                      M5     29
141                      R8     28
142                  Antara     27
143                      M3     27
144                   Agila     22
145                      M2     21
146                  Vivaro     21
147               GLB Class     19
148                      S3     18
149                      i8     17
150                Roomster     17
151                     SQ5     16
152                  Fusion     16
153              California     15
154            PROACE VERSO     15
155                 G Class     15
156                      S4     12
157                   Supra     12
158                   Camry     11
159                      IQ      8
160                     SQ7      8
161                      M6      8
162              Caddy Life      8
163                     CLK      7
164                     Eos      7
165                      Z3      7
166                   Caddy      6
167                    Getz      6
168           Urban Cruiser      4
169              Caddy Maxi      4
170                     Fox      4
171                      S8      4
172                 Cascada      4
173                  Vectra      4
174                  Ampera      3
175                 Verso-S      3
176                Veloster      3
177               CLC Class      3
178                  Kadjar      3
179                   Tigra      3
180                      S5      3
181                Streetka      2
182                 R Class      2
183                Terracan      2
184                  Escort      1
185         Transit Tourneo      1
186                     RS7      1
187                     180      1
188                     230      1
189                     220      1
190                     200      1
191                   Amica      1
192                  Accent      1
193                      A2      1
194                  Ranger      1